" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"  the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader = " "

" Move to the first character in line
map Z ^

" Move to the end of line
map X $

" Jump to matching bracket
map <C-B> %

" Paste without overriding yanked selection
map p P

" Move selected code
vnoremap <A-j> :m '>+1<CR>gv=gv
vnoremap <A-k> :m '<-2<CR>gv=gv

" Move window down
map <C-j> <C-w>j

" Move window up
map <C-k> <C-w>k

" Move window left
map <C-h> <C-w>h

" Move window right
map <C-l> <C-w>l

" Open vsplit window
map <leader>v :vsplit<CR>

" Close tab
map <leader>q :bd<CR>

" Go into definition
map <C-G> <C-]>

" Add new line in normal mode
nnoremap <CR> o<Esc>

" Go back to previous file
noremap <Leader>n <C-6>

" Yank whole file
nnoremap yf ggVGy

set relativenumber number
set scrolloff=10

set incsearch

set clipboard+=unnamedplus

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'

" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

" Open the project tool window
map <leader>e <Action>(ActivateProjectToolWindow)

map gi <Action>(GotoImplementation)

map <leader>r <Action>(RenameElement)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>k <Action>(ShowHoverInfo)
map <leader>t <Action>(ActivateTerminalToolWindow)
map <leader>ss <Action>(GotoFile)
map <leader>sf <Action>(GotoFile)
map <leader>sg <Action>(SearchEverywhere)
map <leader>co <Action>(CloseAllEditorsButActive)
map <leader>cr <Action>(CloseAllToTheRight)
map <leader>cl <Action>(CloseAllToTheLeft)

