" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"  the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader = " "

" Move to the first character in line
map Z ^

" Move to the end of line
map X $

" Jump to matching bracket
map <C-B> %

" Move selected code
vnoremap <A-j> :m '>+1<CR>gv=gv
vnoremap <A-k> :m '<-2<CR>gv=gv

" Move down by 1 paragraph
map <S-j> }

" Move up by 1 paragraph
map <S-k> {

" Move right by 1 word
map <S-l> w

" Move left by 1 word
map <S-h> b

" Move window down
map <C-j> <C-w>j

" Move window up
map <C-k> <C-w>k

" Move window left
map <C-h> <C-w>h

" Move window right
map <C-l> <C-w>l

" Open vsplit window
map <leader>v :vsplit<CR>

" Close tab
map <leader>q :bd<CR>

" Go into definition
map <C-G> <C-]>

" Add new line in normal mode
nnoremap <CR> o<Esc>

" Go back to previous file
noremap <Leader>n <C-6>

set relativenumber number
set scrolloff=10

" Do incremental searching
set incsearch

set clipboard+=unnamedplus

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'

" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

" Open solution explorer
map <leader>e <Action>(ActivateProjectToolWindow)

map gi <Action>(GotoImplementation)

map <leader>r <Action>(RenameElement)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>k <Action>(ShowHoverInfo)
map <leader>t <Action>(ActivateTerminalToolWindow)
map <leader>ss <Action>(GotoFile)
map <leader>sf <Action>(GotoFile)
map <leader>sg <Action>(SearchEverywhere)


