@import "colors.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @base05;
    background-color: alpha(@base00, 0.75);
    padding: 0 0;
}

#workspaces button {
    color: @base05;
    padding: 0;
    min-width: 2em;
}

#workspaces button.empty {
    color: @base04;
}

#battery {
    padding-left: 1.4em;
}

#custom-power {
    padding-right: 1.4em;
}
